{% extends "layout.html" %}
{% block content %}
        
{% if file_url %}

    <div class="row">

        <div class="col mt-2">
            <div>
                <h4>Original image</h4><small> (size: {{ orig_size }} kb)</small>
            </div>
            <img class="mt-2 img-responsive" src="{{ file_url }}" style="max-height: auto; max-width: auto;">

        </div>

        <div class="col mt-2">

            <div>
                <div class="d-flex justify-content-between">
                    <h4>Compressed image</h4>
                    <a href="/download-compressed/{{ filename }}" target="blank"><button class='btn btn-success'>Download!</button></a>
                </div>
                <small>(size: {{ comp_size }} kb)</small>
            </div>

            <img class="mt-2 img-responsive" src="{{ comp_url }}" style="height: auto; width: auto;">

        </div>

    </div>

{% endif %}

<div class="row">
    <h3 class="my-4" style="font-weight: 400;">Upload Image to Compress</h3>

    <form action="/compress" method="post" enctype="multipart/form-data">

        <div class="input-group mb-3">
            <input class="form-control" type="file" name="img" id="img">
            <button type="submit" class="btn btn-primary">Compress Image</button>
        </div>

    </form>

</div>

{% endblock content %}