{% extends "layout.html" %}
{% block content %}

    {% if file_dir %}

        <div class="row">

            {% for file in file_dir %}
                <div class="col">
                    <small>{{ file }} </small>
                    <a href="{{ url_for('download_resized', dir=dir, filename=filename) }}" target="blank">download</a>
                </div>
            {% endfor %}

        </div>

    {% endif %}


    <div>
        <h3 class="my-3" style="font-weight: 400;">Upload Image to resize</h3>

        <form action="/resize" method="post" enctype="multipart/form-data" class="mb-3">

            <div class="input-group mb-3">
                <input type="file" name="img" id="img" class="form-control">
                <label for="img" id="img" class="input-group-text">Upload</label>
            </div>

            <div class="mb-3">
                <small class="text-muted">Images should be 2560px x 1440px and not contain a dot in the filename</small>
            </div>

            <button type="submit" class="btn btn-primary">Upload</button>
            
        </form>

    </div>
{% endblock content %}